Test/TestAthos/ProjectSettings/EditorSettings.asset
Test/TestAthos/ProjectSettings/EditorBuildSettings.asset
Test/TestAthos/ProjectSettings/DynamicsManager.asset
Test/TestAthos/ProjectSettings/ClusterInputManager.asset
Test/TestAthos/ProjectSettings/AudioManager.asset
Test/TestAthos/Library/metadata/fd/fdf18a32bf79d814493ff5f77a37e493.info
Test/TestAthos/Library/metadata/fd/fdf18a32bf79d814493ff5f77a37e493
Test/TestAthos/Library/metadata/f7/f7b54ff4a43d4fcf81b4538b678e0bcc.info
Test/TestAthos/Library/metadata/f7/f7b54ff4a43d4fcf81b4538b678e0bcc
Test/TestAthos/Library/metadata/f7/f70555f144d8491a825f0804e09c671c.info
Test/TestAthos/Library/metadata/f7/f70555f144d8491a825f0804e09c671c
Test/TestAthos/Library/metadata/f5/f5f67c52d1564df4a8936ccd202a3bd8.info
Test/TestAthos/Library/metadata/f5/f5f67c52d1564df4a8936ccd202a3bd8
Test/TestAthos/Library/metadata/f3/f35db2cda35c7d845905305a96bd8860.info
Test/TestAthos/Library/metadata/f3/f35db2cda35c7d845905305a96bd8860
Test/TestAthos/Library/metadata/f0/f02790731dc79a84983ccac4bfcff459.info
Test/TestAthos/Library/metadata/c3/c383b472b70e4da419937559a59c617d
Test/TestAthos/Library/metadata/c1/c1d2004da9c6d13499b0aab72ac8f432.info
Test/TestAthos/Library/metadata/c1/c1d2004da9c6d13499b0aab72ac8f432
Test/TestAthos/Library/metadata/b4/b462504e8208d6e41853fd54f210a9db.info
Test/TestAthos/Library/metadata/b4/b462504e8208d6e41853fd54f210a9db
Test/TestAthos/Library/metadata/b2/b2bead50dbf86924f8e51f03ddbebf70.info
Test/TestAthos/Library/metadata/b2/b2bead50dbf86924f8e51f03ddbebf70
Test/TestAthos/Library/metadata/b2/b2b693dffac3a4433b3114fea0b7fd4e.info
Test/TestAthos/Library/metadata/b2/b2b693dffac3a4433b3114fea0b7fd4e
Test/TestAthos/Library/metadata/ad/adebbd281f1a4ef3a30be7f21937e02f.info
Test/TestAthos/Library/metadata/ad/adebbd281f1a4ef3a30be7f21937e02f
Test/TestAthos/Library/metadata/a9/a962f6a60b551bf449f9161be148c86a.info
Test/TestAthos/Library/metadata/a9/a962f6a60b551bf449f9161be148c86a
Test/TestAthos/Library/metadata/a8/a8da47b927eabf345abb325ec3142b1b.info
Test/TestAthos/Library/metadata/a8/a8da47b927eabf345abb325ec3142b1b
Test/TestAthos/Library/metadata/a3/a36cfea342ad9d24b8df40e48f4e15e7.info
Test/TestAthos/Library/metadata/83/8382b2bb260241859771b69b7f377a8d.info
Test/TestAthos/Library/metadata/83/8382b2bb260241859771b69b7f377a8d
Test/TestAthos/Library/metadata/81/81b05e027b1b8c242983b085cd2171ec.info
Test/TestAthos/Library/metadata/81/81b05e027b1b8c242983b085cd2171ec
Test/TestAthos/Library/metadata/80/80a3616ca19596e4da0f10f14d241e9f.info
Test/TestAthos/Library/metadata/80/80a3616ca19596e4da0f10f14d241e9f
Test/TestAthos/Library/metadata/79/79dbbf3a6e59d984b8d2165c7398911b.info
Test/TestAthos/Library/metadata/79/79dbbf3a6e59d984b8d2165c7398911b
Test/TestAthos/Library/metadata/76/7668179ede524d6396c8b7d84461ea29.info
Test/TestAthos/Library/metadata/76/7668179ede524d6396c8b7d84461ea29
Test/TestAthos/Library/metadata/74/74f0df8fdb47ffd419ca03d2561c7609.info
Test/TestAthos/Library/metadata/74/74f0df8fdb47ffd419ca03d2561c7609
Test/TestAthos/Library/metadata/73/739bbd9f364b4268874f9fd86ab3beef.info
Test/TestAthos/Library/metadata/73/739bbd9f364b4268874f9fd86ab3beef
Test/TestAthos/Library/metadata/71/717bf561d5b95764a9ca304f67d6b6b3.info
Test/TestAthos/Library/metadata/71/717bf561d5b95764a9ca304f67d6b6b3
Test/TestAthos/Library/metadata/32/32188fd89022c154c81befa2f0e00be0
Test/TestAthos/Library/metadata/30/30f48585fc3cbf34895e08351827d24d.info
Test/TestAthos/Library/metadata/30/30f48585fc3cbf34895e08351827d24d
Test/TestAthos/Library/metadata/2f/2fe3476eabbbb6c448e6b55a2cc471f5.info
Test/TestAthos/Library/metadata/2f/2fe3476eabbbb6c448e6b55a2cc471f5
Test/TestAthos/Library/metadata/26/26b8e23357ee9cd448af58abdc399956.info
Test/TestAthos/Library/metadata/26/26b8e23357ee9cd448af58abdc399956
Test/TestAthos/Library/metadata/26/2682a692a2be7e14e901a738c7806da0.info
Test/TestAthos/Library/metadata/26/2682a692a2be7e14e901a738c7806da0
Test/TestAthos/Library/metadata/23/23ae17a0a80bb294391c7883a40fd3ee.info
Test/TestAthos/Library/metadata/23/23ae17a0a80bb294391c7883a40fd3ee
Test/TestAthos/Library/metadata/21/21eff446d50eaf44a85985cd4c0b6fa1.info
Test/TestAthos/Library/metadata/21/21eff446d50eaf44a85985cd4c0b6fa1
Test/TestAthos/Library/metadata/21/21de4389a4839ec408d9f253fddf0299.info
Test/TestAthos/Library/metadata/21/21de4389a4839ec408d9f253fddf0299
Test/TestAthos/Library/metadata/1e/1e0a28209fb161b47819a6398f4e9dde.info
Test/TestAthos/Library/metadata/00/0000000000000000a100000000000000
Test/TestAthos/Library/metadata/00/0000000000000000a000000000000000.info
Test/TestAthos/Library/metadata/00/0000000000000000a000000000000000
Test/TestAthos/Library/metadata/00/00000000000000009000000000000000.info
Test/TestAthos/Library/metadata/00/00000000000000009000000000000000
Test/TestAthos/Library/metadata/00/00000000000000008000000000000000.info
Test/TestAthos/Library/metadata/00/00000000000000008000000000000000
Test/TestAthos/Library/metadata/00/00000000000000007100000000000000.info
Test/TestAthos/Library/metadata/00/00000000000000007100000000000000
Test/TestAthos/Library/metadata/00/00000000000000007000000000000000.info
Test/TestAthos/Library/metadata/00/00000000000000007000000000000000
Test/TestAthos/Library/metadata/00/00000000000000006100000000000000.info
Test/TestAthos/Library/metadata/00/00000000000000006100000000000000
Test/TestAthos/Library/ShaderCache/3/3d058eb8e886809d4d5ad961190f5619.bin
Test/TestAthos/Library/ShaderCache/3/356f51bd5f5f2a83fe67023c5076216c.bin
Test/TestAthos/Library/ShaderCache/2/2e4d9645f3cfa68c9e59e555f4fbfe2a.bin
Test/TestAthos/Library/ShaderCache/1/16b9059b83f2d2a8b30e79aa124beb8e.bin
Test/TestAthos/Library/ShaderCache/0/0fcb4c47cb271d134af53ba19d171c5a.bin
Test/TestAthos/Library/ScriptMapper
Test/TestAthos/Library/ProjectSettings.asset
Test/TestAthos/Library/MonoManager.asset
Test/TestAthos/Library/LibraryFormatVersion.txt
Test/TestAthos/Library/LastSceneManagerSetup.txt
Test/TestAthos/Library/InspectorExpandedItems.asset
Test/TestAthos/Library/EditorUserSettings.asset
Test/TestAthos/Library/EditorUserBuildSettings.asset
Test/TestAthos/Library/CurrentLayout.dwlt
Test/TestAthos/Library/BuildSettings.asset
Test/TestAthos/Library/BuildPlayer.prefs
Test/TestAthos/Assets/testFolder/ScriptableObjectManager.cs
Test/TestAthos/Assets/testFolder/SaveSystem.cs.meta
Test/TestAthos/Assets/testFolder/SaveSystem.cs
Test/TestAthos/Assets/testFolder/RuntimeWeapon.cs.meta
Test/TestAthos/Assets/testFolder/RuntimeWeapon.cs
Test/TestAthos/Assets/testFolder/RuntimeSpellItems.cs.meta
Test/TestAthos/Assets/testFolder/RuntimeSpellItems.cs
Test/TestAthos/Assets/testFolder/RuntimeConsumable.cs.meta
Test/TestAthos/Assets/testFolder/RuntimeConsumable.cs
Test/TestAthos/Assets/testFolder/ResourcesManager.cs.meta
Test/TestAthos/Assets/testFolder/ResourcesManager.cs
Test/TestAthos/Assets/testFolder/RTScamera.cs.meta
Test/TestAthos/Assets/testFolder/RTScamera.cs
Test/TestAthos/Assets/testFolder/QuickSlot.cs.meta
Test/TestAthos/Assets/testFolder/QuickSlot.cs
Test/TestAthos/Assets/testFolder/Projectile.cs.meta
Test/TestAthos/Assets/testFolder/ItemInstance.cs
Test/TestAthos/Assets/testFolder/ItemEffectsManager.cs.meta
Test/TestAthos/Assets/testFolder/ItemEffectsManager.cs
Test/TestAthos/Assets/testFolder/InvetoryUISlot.cs.meta
Test/TestAthos/Assets/testFolder/InvetoryUISlot.cs
Test/TestAthos/Assets/testFolder/InventoryUIDoubleSlot.cs.meta
Test/TestAthos/Assets/testFolder/InventoryUIDoubleSlot.cs
Test/TestAthos/Assets/testFolder/InventoryUI.cs.meta
Test/TestAthos/Assets/testFolder/InventoryUI.cs
Test/TestAthos/Assets/testFolder/InventoryScriptableObject.cs.meta
Test/TestAthos/Assets/testFolder/InventoryScriptableObject.cs
Test/TestAthos/Assets/testFolder/InventoryManager.cs.meta
Test/TestAthos/Assets/testFolder/InventoryManager.cs
Test/TestAthos/Assets/testFolder/InteractionsScriptableObject.cs.meta
Test/TestAthos/Assets/testFolder/InteractionsScriptableObject.cs
Test/TestAthos/Assets/testFolder/InputUI.cs.meta
Test/TestAthos/Library/metadata/f0/f02790731dc79a84983ccac4bfcff459
Test/TestAthos/Library/metadata/ec/ec2b356d22772674587af61c9c9fd058.info
Test/TestAthos/Library/metadata/ec/ec2b356d22772674587af61c9c9fd058
Test/TestAthos/Library/metadata/e5/e5a255dcaed1ac546916edfca3749172.info
Test/TestAthos/Library/metadata/e5/e5a255dcaed1ac546916edfca3749172
Test/TestAthos/Library/metadata/e4/e40ffa3de0d37eb428b0ce9103f27183.info
Test/TestAthos/Library/metadata/e4/e40ffa3de0d37eb428b0ce9103f27183
Test/TestAthos/Library/metadata/e1/e1007cd261c84053beb0c3537782908d.info
Test/TestAthos/Library/metadata/e1/e1007cd261c84053beb0c3537782908d
Test/TestAthos/Library/metadata/dc/dc443db3e92b4983b9738c1131f555cb.info
Test/TestAthos/Library/metadata/dc/dc443db3e92b4983b9738c1131f555cb
Test/TestAthos/Library/metadata/d9/d93f9ceffa216f14f97775fa5cb4634d.info
Test/TestAthos/Library/metadata/d9/d93f9ceffa216f14f97775fa5cb4634d
Test/TestAthos/Library/metadata/d9/d93aca1f5bedf2a4e864e662e91a2580.info
Test/TestAthos/Library/metadata/d9/d93aca1f5bedf2a4e864e662e91a2580
Test/TestAthos/Library/metadata/d9/d91035c548f23744c9bfb107348ed1c0.info
Test/TestAthos/Library/metadata/8e/8e0cd8ed44d4412cbe0642067abc9e44.info
Test/TestAthos/Library/metadata/8e/8e0cd8ed44d4412cbe0642067abc9e44
Test/TestAthos/Library/metadata/89/89f555892ecefde49ab98651bd4cd84d.info
Test/TestAthos/Library/metadata/89/89f555892ecefde49ab98651bd4cd84d
Test/TestAthos/Library/metadata/87/870353891bb340e2b2a9c8707e7419ba.info
Test/TestAthos/Library/metadata/87/870353891bb340e2b2a9c8707e7419ba
Test/TestAthos/Library/metadata/86/86f4de9468454445ac2f39e207fafa3a.info
Test/TestAthos/Library/metadata/86/86f4de9468454445ac2f39e207fafa3a
Test/TestAthos/Library/metadata/86/868ce3d921e5d4342bf06521da28224e.info
Test/TestAthos/Library/metadata/86/868ce3d921e5d4342bf06521da28224e
Test/TestAthos/Library/metadata/85/852e56802eb941638acbb491814497b0.info
Test/TestAthos/Library/metadata/85/852e56802eb941638acbb491814497b0
Test/TestAthos/Library/metadata/84/84ca94c19f25ae14d83aa41bb3654390.info
Test/TestAthos/Library/metadata/84/84ca94c19f25ae14d83aa41bb3654390
Test/TestAthos/Library/metadata/84/844f815391db42d49455cbf1a7bfc434.info
Test/TestAthos/Library/metadata/84/844f815391db42d49455cbf1a7bfc434
Test/TestAthos/Library/metadata/53/53ebcfaa2e1e4e2dbc85882cd5a73fa1.info
Test/TestAthos/Library/metadata/53/53ebcfaa2e1e4e2dbc85882cd5a73fa1
Test/TestAthos/Library/metadata/53/5316e6c990f8c004f96fb031b4456902.info
Test/TestAthos/Library/metadata/53/5316e6c990f8c004f96fb031b4456902
Test/TestAthos/Library/metadata/52/5268b5c5114e30d42bbded8e892d99b6.info
Test/TestAthos/Library/metadata/52/5268b5c5114e30d42bbded8e892d99b6
Test/TestAthos/Library/metadata/51/517af1b5b81b93b43b9745d58f017562.info
Test/TestAthos/Library/metadata/51/517af1b5b81b93b43b9745d58f017562
Test/TestAthos/Library/metadata/4f/4f7c7d92eb4c39945957d073cad3a054.info
Test/TestAthos/Library/metadata/4f/4f7c7d92eb4c39945957d073cad3a054
Test/TestAthos/Library/metadata/4e/4ec856544d4b95a48a851a413d371b00.info
Test/TestAthos/Library/metadata/4e/4ec856544d4b95a48a851a413d371b00
Test/TestAthos/Library/metadata/4e/4e66518b719091747a942dad07ba0f98.info
Test/TestAthos/Library/metadata/4e/4e66518b719091747a942dad07ba0f98
Test/TestAthos/Library/metadata/4b/4ba2329b63d54f0187bcaa12486b1b0f.info
Test/TestAthos/Library/metadata/4b/4ba2329b63d54f0187bcaa12486b1b0f
Test/TestAthos/Library/metadata/42/42009bee736c9ca4188b175a1ee3e10b
Test/TestAthos/Library/metadata/41/4113173d5e95493ab8765d7b08371de4.info
Test/TestAthos/Library/metadata/41/4113173d5e95493ab8765d7b08371de4
Test/TestAthos/Library/metadata/40/405b9b51bb344a128608d968297df79c.info
Test/TestAthos/Library/metadata/40/405b9b51bb344a128608d968297df79c
Test/TestAthos/Library/metadata/3e/3ec6c37f9f18a6c4d9ce37ea39fc7d67.info
Test/TestAthos/Library/metadata/3e/3ec6c37f9f18a6c4d9ce37ea39fc7d67
Test/TestAthos/Library/metadata/38/38c8faf1788024c02930a0c68a6e0edc.info
Test/TestAthos/Library/metadata/38/38c8faf1788024c02930a0c68a6e0edc
Test/TestAthos/Library/metadata/37/37968ed534b04064abcbed6bdbf5f7ba.info
Test/TestAthos/Library/metadata/37/37968ed534b04064abcbed6bdbf5f7ba
Test/TestAthos/Library/metadata/36/36145cfe7e032dc419f511ffcd283f11.info
Test/TestAthos/Library/metadata/36/36145cfe7e032dc419f511ffcd283f11
Test/TestAthos/Library/metadata/32/328cc881519068e4eb7db4bb907ad2d9.info
Test/TestAthos/Library/metadata/32/328cc881519068e4eb7db4bb907ad2d9
Test/TestAthos/Library/metadata/32/32188fd89022c154c81befa2f0e00be0.info
Test/TestAthos/Library/metadata/12/12fd8a0055b84bb59e84c9835a37e333
Test/TestAthos/Library/metadata/0d/0d3bb855445e36e479c85976fc88383a.info
Test/TestAthos/Library/metadata/0d/0d3bb855445e36e479c85976fc88383a
Test/TestAthos/Library/metadata/04/04c20c0a97b0c8248b3e991e0389a13c.info
Test/TestAthos/Library/metadata/04/04c20c0a97b0c8248b3e991e0389a13c
Test/TestAthos/Library/metadata/04/04073383e9e5401459e40872cc225634.info
Test/TestAthos/Library/metadata/04/04073383e9e5401459e40872cc225634
Test/TestAthos/Library/metadata/01/0181eb3b46c48e74f954f8c63ddecb9a.info
Test/TestAthos/Library/metadata/01/0181eb3b46c48e74f954f8c63ddecb9a
Test/TestAthos/Library/metadata/01/01618b14115926e46b2d193912fd5ef0.info
Test/TestAthos/Library/metadata/01/01618b14115926e46b2d193912fd5ef0
Test/TestAthos/Library/metadata/00/0000000000000000c000000000000000.info
Test/TestAthos/Library/metadata/00/0000000000000000c000000000000000
Test/TestAthos/Library/metadata/00/0000000000000000b000000000000000.info
Test/TestAthos/Library/metadata/00/0000000000000000b000000000000000
Test/TestAthos/Library/metadata/00/0000000000000000a100000000000000.info
Test/TestAthos/Library/expandedItems
Test/TestAthos/Library/assetDatabase3
Test/TestAthos/Library/UnityAssemblies/version.txt
Test/TestAthos/Library/UnityAssemblies/nunit.framework.xml
Test/TestAthos/Library/UnityAssemblies/UnityEngine.xml
Test/TestAthos/Library/UnityAssemblies/UnityEngine.UI.xml
Test/TestAthos/Library/UnityAssemblies/UnityEngine.Timeline.xml
Test/TestAthos/Library/UnityAssemblies/UnityEngine.TestRunner.xml
Test/TestAthos/Library/UnityAssemblies/UnityEngine.Networking.xml
Test/TestAthos/Library/UnityAssemblies/UnityEngine.HoloLens.xml
Test/TestAthos/Library/UnityAssemblies/UnityEngine.Analytics.xml
Test/TestAthos/Library/UnityAssemblies/UnityEditor.xml
Test/TestAthos/Library/SpriteAtlasDatabase.asset
Test/TestAthos/Library/ShaderCache/a/aef349f082fbe9645dfdb03a8c21939e.bin
Test/TestAthos/Library/ShaderCache/8/8654946da2597b00e8141cf2c0b4f709.bin
Test/TestAthos/Library/ShaderCache/4/4105a7ff2bd4fc7b3e75215eb9f0a58d.bin
Test/TestAthos/Assets/testFolder/StaticFunctions.cs.meta
Test/TestAthos/Assets/testFolder/StaticFunctions.cs
Test/TestAthos/Assets/testFolder/StateManager.cs.meta
Test/TestAthos/Assets/testFolder/StateManager.cs
Test/TestAthos/Assets/testFolder/SpriteMaker.cs.meta
Test/TestAthos/Assets/testFolder/SpriteMaker.cs
Test/TestAthos/Assets/testFolder/SpellItemScriptableObject.cs.meta
Test/TestAthos/Assets/testFolder/SpellItemScriptableObject.cs
Test/TestAthos/Assets/testFolder/SpellEffectsManager.cs.meta
Test/TestAthos/Assets/testFolder/SpellEffectsManager.cs
Test/TestAthos/Assets/testFolder/SessionManager.cs.meta
Test/TestAthos/Assets/testFolder/SessionManager.cs
Test/TestAthos/Assets/testFolder/ScriptableObjectManager.cs.meta
Test/TestAthos/Assets/testFolder/Projectile.cs
Test/TestAthos/Assets/testFolder/PickableItemsManager.cs.meta
Test/TestAthos/Assets/testFolder/PickableItemsManager.cs
Test/TestAthos/Assets/testFolder/PickableItem.cs.meta
Test/TestAthos/Assets/testFolder/PickableItem.cs
Test/TestAthos/Assets/testFolder/ParryCollider.cs.meta
Test/TestAthos/Assets/testFolder/ParryCollider.cs
Test/TestAthos/Assets/testFolder/NPCScriptableObject.cs.meta
Test/TestAthos/Assets/testFolder/NPCScriptableObject.cs
Test/TestAthos/Assets/testFolder/KeepBool.cs.meta
Test/TestAthos/Assets/testFolder/KeepBool.cs
Test/TestAthos/Assets/testFolder/ItemsScriptableObject.cs.meta
Test/TestAthos/Assets/testFolder/ItemsScriptableObject.cs
Test/TestAthos/Assets/testFolder/ItemToXML.cs.meta
Test/TestAthos/Assets/testFolder/ItemToXML.cs
Test/TestAthos/Assets/testFolder/ItemInstance.cs.meta
Test/TestAthos/Assets/testFolder/InputUI.cs
Test/TestAthos/Assets/testFolder/InputHandler.cs.meta
Test/TestAthos/Assets/testFolder/InputHandler.cs
Test/TestAthos/Assets/testFolder/IconBase.cs.meta
Test/TestAthos/Assets/testFolder/IconBase.cs
Test/TestAthos/Assets/testFolder/IKHandling.cs.meta
Test/TestAthos/Assets/testFolder/IKHandling.cs
Test/TestAthos/Assets/testFolder/Helper.cs.meta
Test/TestAthos/Assets/testFolder/Helper.cs
Test/TestAthos/Assets/testFolder/HandleIK.cs.meta
Test/TestAthos/Assets/testFolder/HandleIK.cs
Test/TestAthos/Assets/testFolder/GesturesManager.cs.meta
Test/TestAthos/Assets/testFolder/GesturesManager.cs
Test/TestAthos/Assets/testFolder/EquipmentSlot.cs.meta
Test/TestAthos/Assets/testFolder/EquipmentSlot.cs
Test/TestAthos/Assets/testFolder/EnemyTarget.cs.meta
Test/TestAthos/Assets/testFolder/EnemyTarget.cs
Test/TestAthos/Assets/testFolder/EnemyStates.cs.meta
Test/TestAthos/Assets/testFolder/EnemyStates.cs
Test/TestAthos/Assets/testFolder/EnemyManager.cs.meta
Test/TestAthos/Assets/testFolder/EnemyManager.cs
Test/TestAthos/Assets/testFolder/DialogueManager.cs.meta
Test/TestAthos/Assets/testFolder/DialogueManager.cs
Test/TestAthos/Assets/testFolder/DamageCollider.cs.meta
Test/TestAthos/Assets/testFolder/DamageCollider.cs
Test/TestAthos/Assets/testFolder/ConsumablesScriptableObject.cs.meta
Test/TestAthos/Assets/testFolder/ConsumablesScriptableObject.cs
Test/TestAthos/Assets/testFolder/CharacterStats.cs.meta
Test/TestAthos/Assets/testFolder/CharacterStats.cs
Test/TestAthos/Assets/testFolder/CameraManager.cs.meta
Test/TestAthos/Assets/testFolder/CameraManager.cs
Test/TestAthos/Assets/testFolder/Builder_Base.cs.meta
Test/TestAthos/Assets/testFolder/Builder_Base.cs
Test/TestAthos/Assets/testFolder/BreathCollider.cs.meta
Test/TestAthos/Assets/testFolder/BreathCollider.cs
Test/TestAthos/Assets/testFolder/ArmorScriptableObject.cs.meta
Test/TestAthos/Assets/testFolder/ArmorScriptableObject.cs
Test/TestAthos/Assets/testFolder/ArmorManager.cs.meta
Test/TestAthos/Assets/testFolder/ArmorManager.cs
Test/TestAthos/Assets/testFolder/AnnounceCard.cs.meta
Test/TestAthos/Assets/testFolder/AnnounceCard.cs
Test/TestAthos/Assets/testFolder/AnimatorHook.cs.meta
Test/TestAthos/Assets/testFolder/AnimatorHook.cs
Test/TestAthos/Assets/testFolder/ActionManager.cs.meta
Test/TestAthos/Assets/testFolder/ActionManager.cs
Test/TestAthos/Assets/testFolder.meta
Test/TestAthos/TestAthos.sln
Test/TestAthos/TestAthos.csproj
Test/TestAthos/ProjectSettings/UnityConnectSettings.asset
Test/TestAthos/ProjectSettings/TimeManager.asset
Test/TestAthos/ProjectSettings/TagManager.asset
Test/TestAthos/ProjectSettings/QualitySettings.asset
Test/TestAthos/ProjectSettings/ProjectVersion.txt
Test/TestAthos/ProjectSettings/ProjectSettings.asset
Test/TestAthos/ProjectSettings/Physics2DSettings.asset
Test/TestAthos/ProjectSettings/NetworkManager.asset
Test/TestAthos/ProjectSettings/NavMeshAreas.asset
Test/TestAthos/ProjectSettings/InputManager.asset
Test/TestAthos/ProjectSettings/GraphicsSettings.asset
Test/TestAthos/Library/metadata/d9/d91035c548f23744c9bfb107348ed1c0
Test/TestAthos/Library/metadata/d8/d86676e2e97cae346aacf8950c4c7f26.info
Test/TestAthos/Library/metadata/d8/d86676e2e97cae346aacf8950c4c7f26
Test/TestAthos/Library/metadata/d5/d5c32e6048749d34ea0ed2393f89d7d2.info
Test/TestAthos/Library/metadata/d5/d5c32e6048749d34ea0ed2393f89d7d2
Test/TestAthos/Library/metadata/d2/d2c34eee7bd0f2c40ae8abffa0270510.info
Test/TestAthos/Library/metadata/d2/d2c34eee7bd0f2c40ae8abffa0270510
Test/TestAthos/Library/metadata/d0/d05b96cee66e14240838de167097537a.info
Test/TestAthos/Library/metadata/d0/d05b96cee66e14240838de167097537a
Test/TestAthos/Library/metadata/cf/cff3bc801a12c084b88d63013a7cfe21.info
Test/TestAthos/Library/metadata/cf/cff3bc801a12c084b88d63013a7cfe21
Test/TestAthos/Library/metadata/c9/c9f4a508f1db3b842b4c489ba4188ee6.info
Test/TestAthos/Library/metadata/c9/c9f4a508f1db3b842b4c489ba4188ee6
Test/TestAthos/Library/metadata/c8/c838e5e8089e03d45819514f4405392a.info
Test/TestAthos/Library/metadata/c8/c838e5e8089e03d45819514f4405392a
Test/TestAthos/Library/metadata/c3/c383b472b70e4da419937559a59c617d.info
Test/TestAthos/Library/metadata/a3/a36cfea342ad9d24b8df40e48f4e15e7
Test/TestAthos/Library/metadata/9c/9c393cf4bdd67f545b918bf75fdad323.info
Test/TestAthos/Library/metadata/9c/9c393cf4bdd67f545b918bf75fdad323
Test/TestAthos/Library/metadata/97/97decbdab0634cdd991f8d23ddf0dead.info
Test/TestAthos/Library/metadata/97/97decbdab0634cdd991f8d23ddf0dead
Test/TestAthos/Library/metadata/94/94e5416bec4062a4fa1d5140859fe282.info
Test/TestAthos/Library/metadata/94/94e5416bec4062a4fa1d5140859fe282
Test/TestAthos/Library/metadata/92/92dd95b3f286c1d4fa057d9f2a03059e.info
Test/TestAthos/Library/metadata/92/92dd95b3f286c1d4fa057d9f2a03059e
Test/TestAthos/Library/metadata/90/9078b7128e594410d9b89e5b24cffd01.info
Test/TestAthos/Library/metadata/90/9078b7128e594410d9b89e5b24cffd01
Test/TestAthos/Library/metadata/8e/8e7066e382b0fc749b25dbb1a3004dfe.info
Test/TestAthos/Library/metadata/8e/8e7066e382b0fc749b25dbb1a3004dfe
Test/TestAthos/Library/metadata/70/704ba565af57eec4697019f916b2bda9.info
Test/TestAthos/Library/metadata/70/704ba565af57eec4697019f916b2bda9
Test/TestAthos/Library/metadata/6f/6f347cb4e078fe440a5fc0c0e0013fb6.info
Test/TestAthos/Library/metadata/6f/6f347cb4e078fe440a5fc0c0e0013fb6
Test/TestAthos/Library/metadata/6a/6a10b2909283487f913b00d94cd3faf5.info
Test/TestAthos/Library/metadata/6a/6a10b2909283487f913b00d94cd3faf5
Test/TestAthos/Library/metadata/69/6981461fe431401459211818212a29cf.info
Test/TestAthos/Library/metadata/69/6981461fe431401459211818212a29cf
Test/TestAthos/Library/metadata/65/651f84417b17509458f483dd72a26831.info
Test/TestAthos/Library/metadata/65/651f84417b17509458f483dd72a26831
Test/TestAthos/Library/metadata/5f/5f32cd94baa94578a686d4b9d6b660f7.info
Test/TestAthos/Library/metadata/5f/5f32cd94baa94578a686d4b9d6b660f7
Test/TestAthos/Library/metadata/58/584a020926111ec419ff011c9e5808e1.info
Test/TestAthos/Library/metadata/58/584a020926111ec419ff011c9e5808e1
Test/TestAthos/Library/metadata/57/5782f9e9e6e0bb94bac99aeea24814fc.info
Test/TestAthos/Library/metadata/57/5782f9e9e6e0bb94bac99aeea24814fc
Test/TestAthos/Library/metadata/4b/4b57f145237cd3040ad1439222dd84d3.info
Test/TestAthos/Library/metadata/4b/4b57f145237cd3040ad1439222dd84d3
Test/TestAthos/Library/metadata/4b/4b3fa4bde7f1451a8218c03ee6a8ded8.info
Test/TestAthos/Library/metadata/4b/4b3fa4bde7f1451a8218c03ee6a8ded8
Test/TestAthos/Library/metadata/4a/4ad1ef3f2e319fc4bb08fe0176c960e3.info
Test/TestAthos/Library/metadata/4a/4ad1ef3f2e319fc4bb08fe0176c960e3
Test/TestAthos/Library/metadata/49/49f5766d0d4954f44b85d4bbd7131677.info
Test/TestAthos/Library/metadata/49/49f5766d0d4954f44b85d4bbd7131677
Test/TestAthos/Library/metadata/49/49a8276e052e2224faef93f72876152a.info
Test/TestAthos/Library/metadata/49/49a8276e052e2224faef93f72876152a
Test/TestAthos/Library/metadata/43/433181784acdb9f408fe934e6ea20002.info
Test/TestAthos/Library/metadata/43/433181784acdb9f408fe934e6ea20002
Test/TestAthos/Library/metadata/42/42009bee736c9ca4188b175a1ee3e10b.info
Test/TestAthos/Library/metadata/1e/1e0a28209fb161b47819a6398f4e9dde
Test/TestAthos/Library/metadata/1c/1c6d1fbb51834b64847b1b73a75bfc77.info
Test/TestAthos/Library/metadata/1c/1c6d1fbb51834b64847b1b73a75bfc77
Test/TestAthos/Library/metadata/1b/1b849335da255844abde64e4bbd0abb4.info
Test/TestAthos/Library/metadata/1b/1b849335da255844abde64e4bbd0abb4
Test/TestAthos/Library/metadata/19/198fe804f2e528a4fb45f7db39444889.info
Test/TestAthos/Library/metadata/19/198fe804f2e528a4fb45f7db39444889
Test/TestAthos/Library/metadata/19/19802d2daa3a2fc488a6cac62939c9b0.info
Test/TestAthos/Library/metadata/19/19802d2daa3a2fc488a6cac62939c9b0
Test/TestAthos/Library/metadata/17/17c0dc48788a5bb459e559a270d4e4d4.info
Test/TestAthos/Library/metadata/17/17c0dc48788a5bb459e559a270d4e4d4
Test/TestAthos/Library/metadata/17/1779fffa04f48eb429c5273983466d9b.info
Test/TestAthos/Library/metadata/17/1779fffa04f48eb429c5273983466d9b
Test/TestAthos/Library/metadata/15/1515d1c8763b20940beb94d3d4c631e6.info
Test/TestAthos/Library/metadata/15/1515d1c8763b20940beb94d3d4c631e6
Test/TestAthos/Library/metadata/12/12fd8a0055b84bb59e84c9835a37e333.info
Test/TestAthos/Library/metadata/00/00000000000000006000000000000000.info
Test/TestAthos/Library/metadata/00/00000000000000006000000000000000
Test/TestAthos/Library/metadata/00/00000000000000005100000000000000.info
Test/TestAthos/Library/metadata/00/00000000000000005100000000000000
Test/TestAthos/Library/metadata/00/00000000000000005000000000000000.info
Test/TestAthos/Library/metadata/00/00000000000000005000000000000000
Test/TestAthos/Library/metadata/00/00000000000000004100000000000000.info
Test/TestAthos/Library/metadata/00/00000000000000004100000000000000
Test/TestAthos/Library/metadata/00/00000000000000004000000000000000.info
Test/TestAthos/Library/metadata/00/00000000000000004000000000000000
Test/TestAthos/Library/metadata/00/00000000000000003000000000000000.info
Test/TestAthos/Library/metadata/00/00000000000000003000000000000000
Test/TestAthos/Library/metadata/00/00000000000000002000000000000000.info
Test/TestAthos/Library/metadata/00/00000000000000002000000000000000
Test/TestAthos/Library/metadata/00/00000000000000001000000000000000.info
Test/TestAthos/Library/metadata/00/00000000000000001000000000000000
Test/TestAthos/Library/AssetImportState
Test/TestAthos/Library/AnnotationManager
Test/TestAthos/Assets/testFolder/XMLtoResources.cs.meta
Test/TestAthos/Assets/testFolder/XMLtoResources.cs
Test/TestAthos/Assets/testFolder/WorldInteraction.cs.meta
Test/TestAthos/Assets/testFolder/WorldInteraction.cs
Test/TestAthos/Assets/testFolder/WeaponScriptableObject.cs.meta
Test/TestAthos/Assets/testFolder/WeaponScriptableObject.cs
Test/TestAthos/Assets/testFolder/WeaponHook.cs.meta
Test/TestAthos/Assets/testFolder/WeaponHook.cs
Test/TestAthos/Assets/testFolder/UIManager.cs.meta
Test/TestAthos/Assets/testFolder/UIManager.cs
Test/TestAthos/Assets/testFolder/StatsCalculations.cs.meta
Test/TestAthos/Assets/testFolder/StatsCalculations.cs
Test/TestAthos/Assets/testFolder/StaticStrings.cs.meta
Test/TestAthos/Assets/testFolder/StaticStrings.cs
